.book {
  &__review-form {
    margin-bottom: 20px;
  }
  &__stars {
    margin-right: 10px;
  }
  &__review-title {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
  }
  &__star-rating {
    color: #f2c94c;
  }
  &__review-content-textarea {
    margin-bottom: 20px;
  }
}
